PORT=8080
SECRETE=HRSB
HOST=0.0.0.0
LOCALHOST=192.168.8.162
DATABASE=mongodb+srv://user01:XGZoO4znMtBJJ2mY@cluster0.d2ddd.mongodb.net/fuel-ms?retryWrites=true&w=majority
LOCALDB=mongodb://localhost:27017/fuel-ms
MAIL_USER=ginel18208@wwgoc.com
MAIL_PASSWORD=$8U9m$Gc66fMkZWT
SENDGRID_API_KEY=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